.draggable-3d-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.draggable-3d-ring {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.draggable-3d-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  // background-size: cover;
  backface-visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.public-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 height: 25rem;

  text-align: center;
  margin-top: 8rem;
}
